<div class="dark-bg">
  <p class="what-do"> What do</p>

  <p class="we-do yellow-text"> we do?</p>
  <div class="cards-container" id="cards-container">

    <div class="card-custom" *ngFor="let item of [].constructor(5)">
      <div class="card-title">
        <div style="height:100px;width:100px;border-radius:50%;background-color:white;margin-bottom:40px"></div>

        <span>HAMA production</span>
      </div>
      <div class="card-desc">
        For those who want the best.
      </div>
    </div>
  </div>
</div>
