<div class="quote-section-container">
  <img src="assets/png/elonmusk.png" alt="">
  <div class="text-container">
    <div class="line"
      style="height: 5px; width:388px; position:absolute;left:50%;top:15%;transform:translate(-50%,-50%)"></div>
    <div class="line"
      style="height: 7px; width:248px; position:absolute;right:10%;bottom:15%;transform:translate(-50%,-50%)"></div>
    <div class="d-flex align-items-center h-100">
      <div>
        <p class="title">
          sarmad
          <br>
          ahmad
        </p>

        <div class="title-undeline">
        </div>

        <div class="quote">
          “If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals. how
          he
          treats his inferiors, not his equals.”
        </div>
      </div>
    </div>
  </div>
</div>
