.hero-text {
  width: 700px;
  text-align: center;
  .subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
  }

  .title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 78px;
  }
}
