<div class="box2" id="box2">
  <div>
    <span class="node"> We've been around since 2006, continuously striving to pave the way for
      creativity.</span>
    <span class="node">
      We started as HAMA Production, specializing in commercial and
      advertising campaign execution and production. We've always believed
      that there's always room for creativity and innovation.
    </span>
    <span class="node">
      This belief has been
      the driving force in our expansion efforts, where we have strived to bring
      innovative and creative solutions to various industries.
    </span>
    <span class="node">
      HAMA Group now
      consists of multiple companies, in various fields such as automotive, creative and communications, internet
      services,
      and many others.
    </span>
  </div>
</div>
