.dark-bg {
  height: 100vh;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.title {
  font-size: 54px;
}
* {
  font-family: 'Montserrat';
}
.follow-us {
  font-size: 36px;
}
.link {
  font-weight: 600;
  cursor: pointer;
  width: 32px;
  height: 32px;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #ffa83f;
  }
  &:not(:last-child) {
    margin-right: 25px;
  }
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.map-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 999;
  .map-overlay-container {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    height: 100%;
    width: 100%;
  }
  .box {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 32px;
    padding: 50px 45px;
    height: 180px;
    width: 100%;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
    &:hover:not(.links) {
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }
  }
}
.overlay-icons {
  height: 33px;
  width: 33px;
}
@media only screen and (max-width: 1500px) {
  .map-overlay {
    padding: 170px 20px;
  }
}
@media only screen and (max-width: 1366px) {
  .link {
    height: 18px;
    width: 18px;
  }
  .follow-us {
    font-size: 20px;
  }
  .title {
    font-size: 24px;
  }
  .map-overlay {
    .map-overlay-container {
      span {
        margin-top: 20px;
      }
      .box {
        font-size: 14px;
        padding: 15px 15px;
        height: 100px;
        width: 100%;
        margin-top: 20px;
      }
    }
  }
  .overlay-icons {
    height: 14px;
    width: 14px;
  }
}

@media only screen and (max-width: 1366px) {
  .hide-on-lg-and-down {
    display: none;
  }
  .show-on-lg-and-down {
    display: block;
  }
}
@media only screen and (min-width: 1366px) {
  .hide-on-lg-and-down {
    display: block;
  }
  .show-on-lg-and-down {
    display: none;
  }
}
