<div class="dark-bg">
  <div class="row">
    <div class="col-lg-5 col-md-12 title">
      <p>we want to</p>
      <p class="yellow-text">hear from you</p>
      <p class="follow-us">Follow us</p>
      <div class="d-flex">
        <p class="link">fb</p>
        <p class="link">in</p>
        <p class="link">be</p>
        <p class="link">In</p>
      </div>
    </div>
    <div class="col-lg-7 col-md-12" style="position: relative;">
      <img src="/assets/png/map.png" alt="">
      <div class="map-overlay">
        <div class="map-overlay-container">
          <div>
            <div class="box">
              <div>
                <i-feather name="send" class="overlay-icons"></i-feather>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <span>info@hamafx.com</span>
                <i-feather name="arrow-right-circle" class="overlay-icons"></i-feather>

              </div>
            </div>
            <div class="box">
              <div>
                <i-feather name="phone" class="overlay-icons"></i-feather>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <span>+964 770 361 4849</span>
                <i-feather name="arrow-right-circle" class="overlay-icons"></i-feather>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
