<div class="px-4 pt-15 dark-bg vh-100 d-flex align-items-center justify-content-center">
</div>
<div class="hero-text">
  <p class="we-are-text animate__animated animate__fadeIn animate__delay-1s">We are</p>
  <p class="hama-brand-text text-uppercase animate__animated animate__fadeIn animate__delay-2s">Hama.</p>
  <img src="/assets/svg/vector2.svg" class="vector animate__animated animate__fadeIn animate__delay-2s">
</div>
<a class="get-started-btn button" (click)="scrollToAbout()">
  <span> Get started &nbsp;
    <i-feather name="arrow-right-circle" class=""></i-feather>

  </span>
</a>
